@import 'assets/styles/variables';

.header {
  text-align: center;
  width: 100%;
}
.list {
  & > li:not(:first-child) {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid #{$color-dark}8b;
  }
}
