@import 'assets/styles/variables';

.footer {
  position: relative;
  z-index: 90;
  background-color: $color-dark;
  color: $color-light;
}
.logo {
  max-width: 40px;
  & img {
    width: 100%;
  }
}
